<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="di" class="beans.Test">
		<constructor-arg value="Mr." index="1"/>
		<constructor-arg value="yogesh" index="0"/>
		<constructor-arg value="20" index="2"/>
	</bean>
</beans>