<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		
<beans>
	 <bean id="caf" class="beans.CarFactory">
	 	<property name="careName" value="beans.AudiCar"/>
	 </bean>

	<bean id="car" factory-bean="caf" factory-method="getInstance"/>
</beans>