<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- Auto dependency injection by Name -->

	<bean id="engine" class="beans.Engine">
		<property name="modelyear" value="2017"/>
	</bean>
	
	<bean id="eng2" class="beans.Engine" autowire-candidate="false">
		<property name="modelyear" value="2018"/>
	</bean>
	
	<bean id="car" class="beans.Car" autowire="byName"/>


</beans>