<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		
<beans>
	 <bean id="conncet" class="beans.DbConnect" init-method="afterPropertiesSet" destroy-method="destroy">
	 	<property name="driver" value="com.mysql.jdbc.Driver"/>
	 	<property name="url" value="jdbc:mysql://localhost:3306/yogi"/>
	 	<property name="username" value="root"/>
	 </bean>
</beans>