<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		
<beans>
	 <bean id='carF' class=" org.springframework.beans.factory.config.MethodInvokingFactoryBean">
	 	<property name="staticMethod" value="beans.CarFactory.setCareName"/>
	 	<property name="arguments">
	 		<list>
	 			<value>beans.AudiCar</value>
	 		</list>
	 	</property>
	 </bean>
	 
	 <bean id="caf" class="beans.CarFactory" factory-method="getInstance"/>

</beans>