<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		
		
<beans>
	<!-- Lookup method for interface -->
	
	 <bean id="car" class="beans.Car">
	 	<lookup-method name="myCarEngine" bean="eng"/>
	 </bean>
	 
	 <bean id="eng" class="beans.Engine">
	 	<property name="engineName" value="TATA"/>
	 </bean>
	 
     <!-- Lookup method for abstract class -->
     
	 <bean id="bus" class="beans.Bus">
	 	<lookup-method name="myBusEngine" bean="eng1"/>
	 </bean>
	 
	 <bean id="eng1" class="beans.Engine">
	 	<property name="engineName" value="TATA-BUS"/>
	 </bean>


     <!-- Lookup method for concrete class -->
     
	 <bean id="truck" class="beans.Truck">
	 	<lookup-method name="myTruckEngine" bean="eng2"/>
	 </bean>
	 
	 <bean id="eng2" class="beans.Engine">
	 	<property name="engineName" value="TATA-TRUCK"/>
	 </bean>
	 
</beans>